body{
    background-color: cornflowerblue;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

.wrapper{
    display: table;
    width: 100%;
}

.inner-wrp{
    display: table-cell;
    width: 50%;
}